<h1>My Cocktails</h1>

<ul>
<% @cocktails.each do |cocktail, id| %>
  <li>
    <%= cocktail[:name] %>
    <small>
      <%= link_to 'Show details', cocktail_path(cocktail.id) %>
    </small>
  </li>
<% end %>
</ul>

<%= link_to 'Add a new cocktail', new_cocktail_path, class: 'btn btn-primary sm' %>
