<h1>My Cocktails</h1>
<div>
<%= cl_image_tag("i130849-_ervni8",
      width: 400, height: 300, crop: :fill) %>
</div>
<ul>
<% @cocktails.each do |cocktail, id| %>
  <li>
    <%= cocktail[:name] %>
    <small>
      <%= link_to 'Show details', cocktail_path(cocktail.id) %>
    </small>
  </li>
<% end %>
</ul>

<%= link_to 'Add a new cocktail', new_cocktail_path, class: 'btn btn-primary sm' %>
